.products--grid {
  display: flex;
  flex-direction: column;
}

.product-detail {
  position: fixed;
  top: 0;
  left: 50%;
  bottom: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all ease-out .5s;
  transform: translateX(100%);
  &.active{
    transform: translateX(0);
  }
}

// Tablets
@media screen and (min-width: 640px) {
  .products--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }
}

// Laptop and Up
@media screen and (min-width: 1024px) {
  .products--grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
