.box {
  height: 100px;
  width: 200px;
  overflow: auto;
  background-color: red;
}

.styles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.message-error {
  background-color: red;
  color: white;
  opacity: 0;
  transition: all linear .5s;
  -webkit-transition: all linear .5s;
  -moz-transition: all linear .5s;
  -ms-transition: all linear .5s;
  -o-transition: all linear .5s;
  &.invalid {
    opacity: 1;
  }
}

.products--grid {
  display: flex;
  flex-direction: column;
  div {
    img {
      width: 100%;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
    h2, p {
      margin: 0;
    }
  }
}

@media screen and (min-width: 40em) {
  .products--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }
}

@media screen and (min-width: 62em) {
  .products--grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
