<h1>Class & Style Binding</h1>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" />
<p class="message-error" [class.invalid]="nameInput3.invalid">
  El campo es requerido
</p>

<label [style.font-style]="nameInput4.invalid ? 'italic' : 'normal'">Nombre</label>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" />
<p [style.font-style]="nameInput4.invalid ? 'italic' : 'normal'">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores cumque blanditiis dicta ducimus illo reprehenderit impedit, deleniti commodi temporibus voluptate consequuntur tenetur ex, labore consequatur minus eveniet quis cum optio.</p>

<div class="styles">
  <div>
    <input type="number" [(ngModel)]="widthImg" />
  </div>
  <div>
    <img [style.width.px]="widthImg" [src]="img" alt="image">
  </div>
</div>

<hr>

<h1>[ngSwitch]</h1>
<input type="text" required [(ngModel)]="person.name" />
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Nicolas'">
    La persona es Nicolas
  </p>
  <p *ngSwitchCase="'Julian'">
    La persona es Julian
  </p>
  <p *ngSwitchCase="'Camilo'">
    La persona es Camilo
  </p>
  <p *ngSwitchDefault>
    No hace match
  </p>
</div>
<!-- <p *ngIf="person.name === 'Nicolas'">
  La persona es Nicolas
</p>
<p *ngIf="person.name === 'Julian'">
  La persona es Julian
</p>
<p *ngIf="person.name === 'Camilo'">
  La persona es Camilo
</p> -->

<hr>

<h1>*ngFor Objs</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img width="250" [src]="product.image" alt="image">
    <h2>$ {{ product.price }} MXN</h2>
    <p>{{ product.name }}</p>
  </div>
</div>

<hr>

<h1>Ejercicio ngFor | Todo List</h1>
<input type="text" required [(ngModel)]="newTask" />
<button (click)="addTask()">Agregar</button>
<ol>
  <p *ngIf="taskList.length === 0">Terminaste tus deberes</p>
  <li *ngFor="let task of taskList; index as i">
    <button (click)="deleteTask(i)">Done</button>
    {{ task }}
  </li>
</ol>

<hr>

<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{ i }} {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<hr>

<h1>*ngIf</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />
<p *ngIf="nameInput2.valid && person.name == 'Nicolas'; else elseBlock">El input es valido y es nicolas</p>
<ng-template #elseBlock>
  <p *ngIf="nameInput2.valid">El input es valido</p>
  <p *ngIf="!nameInput2.valid">El input no es valido</p>
</ng-template>

<hr>

<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<!--
  #variable
  Con esto generamos una variable que nos permitira usar el input con NgModel
 -->
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<!--
  Aqui usamos la variable nameInput, y accedemos a la propiedad valid, cortesia de NgModel
 -->
<p>Name Valid: {{ nameInput.valid }}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age" />
<p>Age Valid: {{ ageInput.valid }}</p>

<hr>

<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)="increaseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sint quisquam aperiam! Eligendi, mollitia dolorum. Atque, dolorem repellendus cum dolore voluptatum accusantium quo culpa eos excepturi porro pariatur labore nesciunt.
  </p>
</div>
<p>Nombre {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />

<hr>

<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img  width="100" [src]="person.avatar" alt="image">

<hr>

<h1>Hola mundo</h1>
<h2>{{ 'Hola mundo'.repeat(5).toLocaleUpperCase() }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<p>Hola, soy {{ name }} y tengo {{ age }}</p>
<img src={{img}} alt="image" width="200">
