<div class="card">
  <a [routerLink]="['/product', product.id]">
    <app-img *ngIf="product.images.length > 0" [img]="product.images[0]"></app-img>
  </a>

  <div class="content">
    <div class="two-columns">
      <p class="title">{{ product.title }}</p>
      <p class="price">{{ product.price | currency }} </p>
    </div>

    <p class="desc">{{ product.description }}</p>

    <div class="controls">
      <button class="button" (click)="onAddToCart()">Add Cart</button>
      <a class="link" routerLink="/home" [queryParams]="{ product: product.id }">Ver detalle</a>
    </div>
  </div>

</div>
