<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img [src]="iconMenu" alt="menu" />
    </button>
    <a href="">
      <img [src]="iconLogo" alt="logo" />
    </a>
    <a href="">
      <img [src]="iconShoppingCart" alt="cart" />
    </a>
  </div>

  <div class="side-menu" [class.active]="activeMenu">
    <button (click)="toggleMenu()">Close</button>
    <ul>
      <li><a routerLinkActive="active" routerLink="home">All</a></li>
      <li *ngFor="let item of categories">
        <a routerLinkActive="active" [routerLink]="['/category', item.id]">{{ item.name }}</a>
      </li>
    </ul>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a href="" class="logo">
        <img [src]="iconLogo" alt="logo">
      </a>
      <ul>
        <li><a routerLinkActive="active" routerLink="home">All</a></li>
        <li *ngFor="let item of categories">
          <a routerLinkActive="active" [routerLink]="['/category', item.id]">{{ item.name }}</a>
        </li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">
        <button *ngIf="!profile; else elseBlock" (click)="login()">Login</button>
        <ng-template #elseBlock>{{ profile?.email }}</ng-template>
      </div>
      <div class="cart">
        <a href="">
          <img [src]="iconShoppingCart" alt="">
        </a>
        <span class="counter">{{ counter }}</span>
      </div>
    </div>
  </div>
</div>
