<div class="show-mobile">
  <div>
    <button>
      <img [src]="iconMenu" alt="menu" />
    </button>
    <a href="">
      <img [src]="iconLogo" alt="logo" />
    </a>
    <a href="">
      <img [src]="iconShoppingCart" alt="cart" />
    </a>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a href="" class="logo">
        <img [src]="iconLogo" alt="logo">
      </a>
      <ul>
        <li><a href="">All</a></li>
        <li><a href="">Clothes</a></li>
        <li><a href="">Electronics</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">hector.rubi.garcia@gmail.com</div>
      <div>
        <a href="">
          <img [src]="iconShoppingCart" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
